#view-home.view
	.statusbar
	.corners
		.btn-menu: .cross: span
		.btn-logo
		.btn-notifications: img(src='img/ui/icon-alarm-white.svg')
	.home
		.container
			.btn-about.logo
			.meetup
				.btn-meetup
					.meetup-state
					.meetup-days
					.meetup-name
					.meetup-date
					.meetup-place
				span.actions
					.left.btn-talks
						span.icon
						span.text View Talks
					.right.btn-calendar
						span.icon
							.number
							img(src='img/ui/icon-calendar-white.svg')
						span.text &nbsp;
			.remaining: .text
			.states
				.rsvp
					.btn-plain.btn-left
						.text Attending
						.icon: img(src='img/ui/icon-close-black.svg')
					.divider
					.btn-plain.btn-right
						.text Nope
						.icon: img(src='img/ui/icon-close-black.svg')
				.sold-out
					.btn-plain.red: .text Tickets sold out
				.soon
					.btn-plain.dark-grey: .text Next meetup soon
			.squid
				.wiggler: img(src='img/ui/squid.svg', width=65)
	.menu
		.buttons
			.btn-join.button: .wrap Join
			.btn-signout.button: .wrap Sign out
			.btn-about.button: .wrap About
			.btn-credits.button: .wrap Credits
		.about
			.container.scrollable
				.logo
				.text
					p <strong>On the third wednesday of each month</strong>, some of Sydney’s most talented and enthusiastic hackers get together to share ideas, techniques and stories, with a selection of fine beers.
					p This app was conceived during the Decompress hack day at the JS Conf by the guys from <span class="link" data-link="http://thinkmill.com.au">Thinkmill</span>.
					p SydJS is held at <span class="link" data-link="https://www.google.com.au/maps/place/Atlassian/@-33.867267,151.20689,17z">Level 6, 341 George St (Atlassian)</span> from 6pm to 9pm.
			.footer
				.btn-plain.light-blue.close
		.credits
			.container.scrollable
				.text
					.title Built by
					ul
						li <span class="link" data-link="http://twitter.com/bladey">Tom Walker (Dev)</a>
						li <span class="link" data-link="http://twitter.com/borisbozic">Boris Bozic (UX/UI)</a>
						li <span class="link" data-link="http://twitter.com/JedWatson">Jed Watson (Dev)</a>
						li <span class="link" data-link="http://twitter.com/JossMackison">Joss Mackison (Dev)</a>
						li <span class="link" data-link="http://twitter.com/tuan23">Tuan Hoang (Dev)</a>
					.title Built with
					ul
						li <span class="link" data-link="http://cordova.apache.org">Cordova</span>
						li <span class="link" data-link="http://velocityjs.org">Velocity.js</span>
					.title Open source
					p This app is open source and available on <span class="link" data-link="http://github.com/bladey/sydjs-app" class="link">GitHub</span>.
			.footer
				.btn-plain.light-blue.close
	.footer
		.btn-plain.light-blue.close
	.gradient
	.background(data-parallaxify-range-x='30', data-parallaxify-range-y='30')