lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

*.DS_Store
*.env

source/*/node_modules

platforms/ios/Notificare.plist
platforms/android/assets/notificareconfig.properties

notes.txt
