#view-about.view
	.statusbar
	.container.scrollable
		.logo
		.text
			p <strong>On the third wednesday of each month</strong>, some of Sydney’s most talented and enthusiastic hackers get together to share ideas, techniques and stories, powered by great sponsors, free pizza and a large selection of fine beers. Join us.
			p This app was conceived during the Decompress hack day at the JS Conf by <span class="link" data-link="http://thinkmill.com.au">Thinkmill</span> using <span class="link" data-link="http://keystonejs.com">KeystoneJS</span>.
			p SydJS is held at <span class="link" data-link="https://www.google.com.au/maps/place/Atlassian/@-33.867267,151.20689,17z">Level 6, 341 George St (Atlassian)</span> from 6pm to 9pm.
	.footer
		.btn-plain.light-blue.close