#view-credits.view
	.statusbar
	.container.scrollable
		.text
			.title Built by
			ul
				li Tom (Dev)
				li Boris (UX/UI)
				li Jed (Dev)
				li Joss (Dev)
				li Tuan (Dev)
			.title Built with
			ul
				li <span class="link" data-link="http://cordova.apache.org">Cordova</span>
				li <span class="link" data-link="http://velocityjs.org">Velocity.js</span>
			.title Open source
			p This app is open source and available on <span class="link" data-link="http://github.com/bladey/sydjs-app" class="link">GitHub</span>.
	.footer
		.btn-plain.light-red.close