#view-home.view
	.container
		.btn-notifications: img(src='img/ui/icon-alarm-white.svg')
		.btn-talks: img(src='img/ui/icon-talks-white.svg')
		.wrap
			.logo
			.next-meetup Next Meetup
			.meetup-days
			.meetup-date
		.states
			.rsvp
				.btn-attending.btn-plain.blue Attending
				.btn-not-attending.btn-plain.blue Nope
			.rsvp-not-attending
				.btn-plain.red.text I'm not attending
				.btn-plain.red.cancel.btn-cancel
					.icon: img(src='img/ui/icon-close-black.svg')
			.rsvp-attending
				.btn-plain.green.text Attending
				.btn-plain.green.cancel.btn-cancel
					.icon: img(src='img/ui/icon-close-black.svg')
			.sold-out
				.btn-plain.grey.text.strike Tickets sold out
			.tickets-soon
				.btn-plain.grey.text.faded Tickets available soon
	.gradient