#view-home.view
	.statusbar
	.corners
		.btn-menu: .cross: span
		.btn-logo
		.btn-notifications: img(src='img/ui/icon-alarm-white.svg')
	.container
		//- .btn-talks: img(src='img/ui/icon-talks-white.svg')
		.btn-about.logo
		.meetup
			.btn-meetup
				.meetup-state
				.meetup-days
				.meetup-name
				.meetup-date
				.meetup-place
			span.actions
				.left.btn-talks
					span.icon
					span.text View Talks
				.right.btn-calendar
					span.icon
						.number
						img(src='img/ui/icon-calendar-white.svg')
					span.text &nbsp;
		.states
			.rsvp
				.btn-plain.btn-left
					.text Attending
					.icon: img(src='img/ui/icon-close-black.svg')
				.btn-plain.btn-right
					.text Nope
					.icon: img(src='img/ui/icon-close-black.svg')
			.sold-out
				.btn-plain.dark-grey: .text.strike Tickets sold out
			.tickets-soon
				.btn-plain.dark-grey: .text Tickets available soon
		.squid
			.wiggler: img(src='img/ui/squid.svg', width=65)
	.menu
		.buttons
			.btn-join.button: .wrap Join
			.btn-signout.button: .wrap Sign out
			.btn-about.button: .wrap About
			.btn-credits.button: .wrap Credits
	.gradient
	.background(data-parallaxify-range-x='30', data-parallaxify-range-y='30')