#view-home.view
	.statusbar
	.container
		.btn-notifications: img(src='img/ui/icon-alarm-white.svg')
		.btn-talks: img(src='img/ui/icon-talks-white.svg')
		.btn-about.logo
		.meetup
			.next-meetup Next Meetup
			.meetup-days
			.meetup-date
		.btn-calendar
			span.icon
				.number
				img(src='img/ui/icon-calendar-blue.svg')
			span.text Add to calendar
		.states
			.rsvp
				.btn-plain.btn-left
					.text Attending
					.icon: img(src='img/ui/icon-close-black.svg')
				.btn-plain.btn-right
					.text Nope
					.icon: img(src='img/ui/icon-close-black.svg')
			.sold-out
				.btn-plain.grey.text.strike Tickets sold out
			.tickets-soon
				.btn-plain.grey.text.faded Tickets available soon
		.squid
			img(src='img/ui/squid.svg', width=65)
	.gradient