#view-signin.view
	.titlebar
		.btn-back
			.inner
				.icon: img(src='img/ui/icon-backarrow-white.svg')
				.label Back
		.title Sign in
	.container.scrollable
		.form
			.wrap
				.line
					input(type='email', id='view-signin-field-username', placeholder='Username', autocomplete='off')
				.line
					input(type='password', id='view-signin-field-password', placeholder='Password', autocomplete='off')
			.footer
				.btn-plain.btn-center.blue.short.btn-submit Submit
				//- .btn-plain.btn-center.blue.short.btn-register Register
				.btn-text.btn-center.forgot-password Forgot Password
	.gradient