#view-signin.view
	.titlebar
		.statusbar
		.wrap
			.btn-back
				.inner
					.icon: img(src='img/ui/icon-backarrow-white.svg')
					.label Back
			.title Sign in
	.container
		.btn-github
		.btn-facebook
		.btn-google
		.btn-twitter
		.btn-email