#view-signin.view
	.titlebar
		.statusbar
		.wrap
			.btn-back
				.inner
					.icon: img(src='img/ui/icon-backarrow-white.svg')
					.label Back
			.title Sign in
	.container
		.btn-github(data-service='github')
		.btn-facebook(data-service='facebook')
		.btn-google(data-service='google')
		.btn-twitter(data-service='twitter')
		.btn-email(data-service='email')