#view-welcome {

	.background {
		.fill;
		position: absolute;
		z-index: 0;
		background-image: url('/img/app/ui/backgrounds/welcome.jpg');
		background-position: center;
		background-size: cover;
	}

	.entry {

		position: relative;
		width: 100%;

		.logo {
			margin: 0 auto 40px;
			width: 230.5px;
			height: 51.5px;
			background-image: url('/img/app/ui/backgrounds/logo.png');
			background-size: 230.5px 51.5px;
		}

		.intro {
			margin-bottom: 15px;
			text-align: center;
		}

		.form {
			background: rgba(0,0,0,0.25);
			input {
				color: #fff;
				text-align: center;
				font-size: 30px;
				text-transform: uppercase;
			}
			.line {
				border-bottom: none;
			}
		}
	}

}
