@background: #212121;
@orange: #fe9f00;

@cinemas: #ffa500;
@dining: #00a5dc;
@sports: #05a776;
@daysOut: #2db928;
@music: #ee3f47;

@import "/common/mixins.less";
@import "/common/spinner.less";
@import "/common/layout.less";

@import "/views/signin.less";
@import "/views/home.less";
@import "/views/talks.less";